# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# vim files
*.swp
*.swo

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# solutions
*.h5
*.xdmf

# Executables
*.exe
*.out
*.app

# Folders
/GT_version/
/doc/code_sources/
/doc/CGNS-master*
/bin/
/tools/bin/
/test/DIT/64x64x64/DIT_gridgen
